* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 84%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #006a6c;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color: lightyellow;
 }

nav {
  position: absolute;
  top: 0rem;
  right: 3rem;
  font-size: 1rem;
  background: #006a6c;
}
  nav ul{
    display: flex;
    flex-direction: row;
  }
  nav ul li{
    margin-right: 2rem;
  }
  nav ul li a {
    color: lightyellow;
  }

main{
  display: flex;
  flex-wrap：wrap;
  justify-content:space-between;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #f3a68c;
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: lightyellow;
      color:#006a6c;
    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #ffe9a9;
    color:#006a6c;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #006a6c;
  color: lightyellow;
}
